<header class="header">
  <nav class="nav flex container">
    <div class="logo-box">
      <a href="../index.html" class="logo flex">
        <span class="icon-logo">
          <svg class="logo-svg" width="16" height="16">
            <use href="../img/icons.svg#icon-logo"></use>
          </svg>
        </span>veggieboost</a>
    </div>
    <div class="burger-box">
      <button type="submit" class="borger-btn flex">
        <svg class="burger-svg" width="24" height="24">
          <use href="../img/icons.svg#icon-gg_menu-left"></use>
        </svg>
      </button>
    </div>

  </nav>
</header>