<section class="vegetables">
    <div class="container-veg">
        <h3 class="veg-title">ORGANIC VEGETABLES</h3>
        <p class="veg-paragraf">Our organic vegetables are hand-picked from local farms and delivered straight to your
            doorstep, ensuring that you
            get the freshest and most nutritious produce possible. </p>






        <ul class="veg-list">
            <li class="veg-items">
                <h3 class="name-veg">Carrot</h3>
                <p class="spec-veg">Plant</p>
                <picture>
                    <source srcset="
                      ./img/vegetables/carrot.png 1x,
                      ./img/vegetables/carrot-2x.png 2x
                    " media="(min-width: 1280px)" />
                    <source srcset="
                    ./img/vegetables/carrot.png 1x,
                    ./img/vegetables/carrot-2x.png 2x
                    " media="(min-width: 768px)" />
                    <source srcset="
                    ./img/vegetables/carrot.png 1x,
                    ./img/vegetables/carrot-2x.png 2x
                    " media="(max-width: 768px)" />


                    <img class="img-veg" src="../img/vegetables/carrot.png" alt="Carrot" width="299" height="249" />


                </picture>
                <p class="price-veg">100 UAH / kg</p>

            </li>

            <li class="veg-items">
                <h3 class="name-veg">Brussel sprouts</h3>
                <p class="spec-veg">Plant</p>
                <picture>
                    <source srcset="
                      ./img/vegetables/brussel.png 1x,
                      ./img/vegetables/brussel-2x.png 2x
                    " media="(min-width: 1280px)" />
                    <source srcset="
                    ./img/vegetables/brussel.png 1x,
                    ./img/vegetables/brussel-2x.png 2x
                    " media="(min-width: 768px)" />
                    <source srcset="
                    ./img/vegetables/brussel.png 1x,
                    ./img/vegetables/brussel-2x.png 2x
                    " media="(max-width: 768px)" />


                    <img class="img-veg" src="../img/vegetables/carrot.png" alt="Brussel sprouts" width="299"
                        height="249" />


                </picture>
                <p class="price-veg">80 UAH / kg</p>

            </li>

            <li class="veg-items">
                <h3 class="name-veg">Tomato</h3>
                <p class="spec-veg">Plant</p>
                <picture>
                    <source srcset="
                      ./img/vegetables/tomato.png 1x,
                      ./img/vegetables/tomato-2x.png 2x
                    " media="(min-width: 1280px)" />
                    <source srcset="
                    ./img/vegetables/tomato.png 1x,
                    ./img/vegetables/tomato-2x.png 2x
                    " media="(min-width: 768px)" />
                    <source srcset="
                    ./img/vegetables/tomato.png 1x,
                    ./img/vegetables/tomato-2x.png 2x
                    " media="(max-width: 768px)" />


                    <img class="img-veg" src="../img/vegetables/carrot.png" alt="Tomato" width="299" height="249" />


                </picture>
                <p class="price-veg">40 UAH / kg</p>

            </li>

            <li class="veg-items">
                <h3 class="name-veg">Eggplant</h3>
                <p class="spec-veg">Plant</p>
                <picture>
                    <source srcset="
                      ./img/vegetables/eggplant.png 1x,
                      ./img/vegetables/eggplant-2x.png 2x
                    " media="(min-width: 1280px)" />
                    <source srcset="
                    ./img/vegetables/eggplant.png 1x,
                    ./img/vegetables/eggplant-2x.png 2x
                    " media="(min-width: 768px)" />
                    <source srcset="
                    ./img/vegetables/eggplant.png 1x,
                    ./img/vegetables/eggplant-2x.png 2x
                    " media="(max-width: 768px)" />


                    <img class="img-veg" src="../img/vegetables/carrot.png" alt="Eggplant" width="299" height="249" />


                </picture>
                <p class="price-veg">60 UAH / kg</p>

            </li>

            <li class="veg-items">
                <h3 class="name-veg">Sweet potatoes</h3>
                <p class="spec-veg">Plant</p>
                <picture>
                    <source srcset="
                      ./img/vegetables/potatoes.png 1x,
                      ./img/vegetables/potatoes-2x.png 2x
                    " media="(min-width: 1280px)" />
                    <source srcset="
                    ./img/vegetables/potatoes.png 1x,
                    ./img/vegetables/potatoes-2x.png 2x
                    " media="(min-width: 768px)" />
                    <source srcset="
                    ./img/vegetables/potatoes.png 1x,
                    ./img/vegetables/potatoes-2x.png 2x
                    " media="(max-width: 768px)" />


                    <img class="img-veg" src="../img/vegetables/carrot.png" alt="Sweet potatoes" width="299"
                        height="249" />


                </picture>
                <p class="price-veg">80 UAH / kg</p>

            </li>

            <li class="veg-items">
                <h3 class="name-veg">Leek</h3>
                <p class="spec-veg">Plant</p>
                <picture>
                    <source srcset="
                      ./img/vegetables/leek.png 1x,
                      ./img/vegetables/leek-2x.png 2x
                    " media="(min-width: 1280px)" />
                    <source srcset="
                    ./img/vegetables/leek.png 1x,
                    ./img/vegetables/leek-2x.png 2x
                    " media="(min-width: 768px)" />
                    <source srcset="
                    ./img/vegetables/leek.png 1x,
                    ./img/vegetables/leek-2x.png 2x
                    " media="(max-width: 768px)" />


                    <img class="img-veg" src="../img/vegetables/carrot.png" alt="Leek" width="299" height="249" />


                </picture>
                <p class="price-veg">50 UAH / kg</p>

            </li>


            <li class="veg-items">
                <h3 class="name-veg">Mushrooms</h3>
                <p class="spec-veg">Plant</p>
                <picture>
                    <source srcset="
                      ./img/vegetables/mushrooms.png 1x,
                      ./img/vegetables/mushrooms-2x.png 2x
                    " media="(min-width: 1280px)" />
                    <source srcset="
                    ./img/vegetables/mushrooms.png 1x,
                    ./img/vegetables/mushrooms-2x.png 2x
                    " media="(min-width: 768px)" />
                    <source srcset="
                    ./img/vegetables/mushrooms.png 1x,
                    ./img/vegetables/mushrooms-2x.png 2x
                    " media="(max-width: 768px)" />


                    <img class="img-veg" src="../img/vegetables/carrot.png" alt="Mushrooms" width="299" height="249" />


                </picture>
                <p class="price-veg">40 UAH / kg</p>

            </li>

            <li class="veg-items">
                <h3 class="name-veg">Corn</h3>
                <p class="spec-veg">Plant</p>
                <picture>
                    <source srcset="
                      ./img/vegetables/corn.png 1x,
                      ./img/vegetables/corn-2x.png 2x
                    " media="(min-width: 1280px)" />
                    <source srcset="
                    ./img/vegetables/corn.png 1x,
                    ./img/vegetables/corn-2x.png 2x
                    " media="(min-width: 768px)" />
                    <source srcset="
                    ./img/vegetables/corn.png 1x,
                    ./img/vegetables/corn-2x.png 2x
                    " media="(max-width: 768px)" />


                    <img class="img-veg" src="../img/vegetables/carrot.png" alt="Carrot" width="299" height="249" />


                </picture>
                <p class="price-veg">60 UAH / kg</p>

            </li>

            <div class="Radish-hide">
                <li class="veg-items">
                    <h3 class="name-veg">Radish</h3>
                    <p class="spec-veg">Plant</p>
                    <picture>
                        <source srcset="
                      ./img/vegetables/Radish.png 1x,
                      ./img/vegetables/Radish-2x.png 2x
                    " media="(min-width: 1280px)" />
                        <source srcset="
                    ./img/vegetables/Radish.png 1x,
                    ./img/vegetables/Radish-2x.png 2x
                    " media="(min-width: 768px)" />
                        <source srcset="
                    ./img/vegetables/Radish.png 1x,
                    ./img/vegetables/Radish-2x.png 2x
                    " media="(max-width: 768px)" />


                        <img class="img-veg" src="../img/vegetables/carrot.png" alt="Radish" width="299" height="249" />


                    </picture>
                    <p class="price-veg">90 UAH / kg</p>

                </li>
            </div>





    </div>





    <div class="button-center-order">




        <button class="but-veg" type="button">

            <span class="but-text">

                <svg class="svg-but-veg" width="14" height="14">

                    <use href="../img/icons.svg#icon-Vector"></use>
                </svg> Order


            </span>


        </button>





    </div>


</section>