.nav {
    max-width: 375px;
}

.logo {
    color: #141414;
    text-align: center;
    font-size: 14px;
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
}

.burger-box {
    width: 24px;
    height: 24px;
    background-color: #000000;
    border-radius: 5%;
}