.veg-title {
    color: #141414;
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 24px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.96px;
    text-transform: uppercase;
    margin-bottom: 14px;

}

.veg-paragraf {
    color: #141414;
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.56px;
    margin-bottom: 40px;


}

.name-veg {
    color: #141414;
    font-size: 24px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -0.96px;
    padding-top: 40px;
    padding-left: 20px;
    margin-bottom: 8px;

}

.spec-veg {

    color: #141414;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.28px;
    padding-left: 20px;


}

.price-veg {
    color: #141414;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    padding-left: 20px;
    margin-bottom: 20px;


}


.container-veg {

    width: 100%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;



}

.veg-list {


    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;


}

.veg-items {
    background-color: #EAF7E5;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 10px;
    max-width: 100%;
    width: 335px;
    height: 443px;



}


.img-veg {

    margin: 40px 18px 22px;






}

.but-veg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #FC8A11;
    border: transparent;
    position: relative;



}

.but-veg:hover {
    background-color: #A1C487;

}

.button-center-order {
    margin: 0 auto;
    text-align: center;
    justify-content: center;


}







.svg-but-veg {
    position: absolute;
    fill: #fff;
    left: 18px;
    top: 61px;
}

.Order-veg-but {

    display: block;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 18px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    transform: rotate(-14deg);


}

.Radish-hide {
    display: none;
}


/* Tablet version width 768px */

@media screen and (min-width:768px) {



    .container-veg {

        max-width: 768px;
        margin-bottom: 40px;




    }

    .but-veg {
        width: 114px;
        height: 114px;
        border-radius: 50%;



    }


    .veg-items {

        width: 342px;
        height: 465px;



    }






    .veg-list {


        gap: 20px 20px;



    }






}






/* DESKTOP version width 1280px */

@media screen and (min-width:1280px) {

    .Radish-hide {
        display: block;



    }

    .container-veg {

        max-width: 1280px;




    }





    .veg-list {


        gap: 24px 24px;



    }



    .veg-items {

        width: 389px;


    }








}